.post {
  width: 385px;
  margin: 0 25px 40px 25px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: var(--new-pink);
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  color: #333333;
  /*font-weight: bolder;*/
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: bolder;
  margin-top: 15px;
  cursor: pointer;

}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #111111;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 769px) {

  .post{
    width:80vw;
    margin:0;
    margin-bottom: 100px;
  }
  .postImg
  {
    width: 95vw;
    padding: 0;
    height: 70%;
    margin:0
  }

}
